/* Custom Fonts for The Legend of Zelda: Breath of the Wild Themed Website */
@font-face { /* Logo/title font */
    font-family: 'BotW Logo';
    src: url('fonts/zeldaserif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Main body text font */
    font-family: 'Hylia Serif';
    src: url('fonts/hylianserif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Decorative font for headings and accents */
    font-family: 'Sheikah';
    src: url('fonts/sheikahserif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}